<?xml version="1.0" encoding="UTF-8"?>

<!--
Listening to a joystick and controlling the robot directly (remote).
This launch file is for the robot.
-->
<launch>
  <!--
  Setting the hostname of the robot. This is to optional skip hardware setup steps later.
  -->
  <param name="rvr/hostname" type="String" value="rvrmate" />

  <!-- Controlling the motor on a hardware level -->
  <node name="motor_server" pkg="rvr" type="motor_server.py" output="screen"/>
</launch>
